	body{
		background-color:rgba(197, 206, 225, 0.7);
		font-size: 100%;
		margin: 0;
	}
	#twitter{
		background-color: #4099ff;
		width: 100%;
		color: white;
		margin:0;
		padding-left: 0.1em;
		padding-right: 0.1em;
	}
	#tc{
		color: white;
		font-family: "LTRCondensedNo3-Grade2Italic";
		padding-left: 0.1em;
		background-color: #ff001b;
		font-style: normal;
		font-weight: normal;
	}
	.explainparameter{
		display: none;
		background-color: blue;
		color: white;
		font-family: "LTRCondensedNo3-Grade2Italic";
		line-height: 100%;
		font-size: 12vw;
	}
	#recipe{
		width: 100vw;
		margin:0;
	}
	.selected{
		color: white;
		font-family: "LTRCondensedNo3-Grade2Italic";
		padding-left: 0.1em;
		background-color: #ff001b;
		font-style: normal;
		font-weight: normal;
	}
	a{
		text-decoration: none;
		color: white;
		/*font-family: "LTRCondensedNo3-Grade1Italic";*/
		padding-left: 0.05em;
		padding-right: 0.05em;
	}
	a:hover{
		font-family: "LTRCondensedNo3-Grade2Italic";
		color: white;
	}
	.container{
		background-color: rgba(255, 255, 255, 0.52);
	}
	.entry, .choice, .explain{
		display: inline-block;
		font-family: "LTRCondensedNo3-Grade1Italic";
		font-style: normal;
		font-weight: normal;
		text-align: left;
		text-transform: capitalize;
		line-height: 100%;
		font-size: 12vw;
		color: rgba(32, 31, 27, 0.95);
		padding: 0;
	}
	.entry{
		background-color: #ffc400;
		color: white;
	}
	.entry:hover, .explaining{
/*		background-color: #ffc400;
		color: white;
		*/
		color: #ffc400;
	}
	div.explaining{
		background-color: #ffc400;
		color: red;
	}
	.choice{
		display: inline-block;
		/*margin-left: 0.125em;*/
		margin-right: 0.125em;
		padding-left: 0.125em;
		padding-right: 0.125em;
	}
	.explain{
		display: none;
		background-color: black;
		color: white;
		text-transform: none;
		font-family: "LTRCondensedNo3-Grade1Italic";
		line-height: 100%;
	}
	#title, #explain{
		font-family: "LTRCondensedNo3-Grade1Italic";
		text-align: left;
		line-height: 100%;
		font-size: 12vw;
		color: white;
		padding-left: 0.1em;
		background-color: #ff001b;
	}
	#title{
		text-transform: uppercase;
	}
	em{
		font-style: normal;
		font-family: "LTRCondensedNo3-Grade1Italic";
		color: rgba(0, 0, 0, 0.4);
		text-transform: capitalize;
		padding-left: 0.1em;
		padding-right: 0.1em;
		background-color: #ffc400;
	}


	/* copy button and fallback instruction tooltip (safari) */
	#copy {
	    position: relative;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -webkit-appearance: none;
	}
	.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
	    display: inline-block;
	    text-decoration: none;
	}
	.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
	    top: auto;
	    right: 50%;
	    bottom: -5px;
	    margin-right: -5px;
	    border-bottom-color: rgba(0,0,0,0.8);
	}
	.tooltipped:before {
	    position: absolute;
	    z-index: 1000001;
	    display: block;
	    width: 0;
	    height: 0;
	    color: rgba(0,0,0,0.8);
	    pointer-events: none;
	    content: "";
	}

	.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
	    display: inline-block;
	    text-decoration: none;
	}
	.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
	    top: -0.25em;
	    left: 110%;
	}
	.tooltipped:after {
	    position: absolute;
	    z-index: 1000000;
	    display: none;
	    padding: 0.5em 1em;
	    font: normal normal 11px/1.5;
	    font-family: inherit;
	    color: #fff;
	    word-wrap: break-word;
	    white-space: pre;
	    pointer-events: none;
	    content: attr(aria-label);
	    background: rgba(0,0,0,0.8);
	    -webkit-font-smoothing: subpixel-antialiased;
	}
